.subheader-text{
    text-align: center;
}
.projectDiv{
    background: #ECEFF1;
    margin-top: 30px;
    margin-bottom: 80px;
}
@media screen and (min-width: 700px){
    #row1{
        margin-left: 17git 0px;
    }
}

#row3{
    margin-left: 170px;
    padding-top: 20px;
}
