.subheader-text{
    text-align: center;
}
.projectDiv{
    margin-top: 30px;
    margin-bottom: 80px;
}
@media screen and (min-width: 700px){
    .responsive {
        width:100%;
        height: auto;
    }
   

    
}

